- provide(:title, "About Me")
h1.page_header About Me
p I have been yoyoing since the spring of 2018.
p Some of my favorite tricks are:
p • Mach 5
p • Pop'n'Fresh
p • Gyroscopic Flop
p • Boingy Boing
p I'm learning 1A, 2A, and 5A.
P In the featrue I plan to learn 3A and 4A.



.top-of-videos
