- provide(:title, 'Maintenance')
h1.page_header YoYo Maintenance
.table-of-contents
  p.content Contents:
  p.content = link_to 'Making Strings', '#making_string'
  p.content = link_to 'Puting On New Strings', '#put_on_string'
  p.content = link_to 'Changing The Bearing', '#change_bearing'
  p.content = link_to 'Lubing', '#lubing'


h1[id="making_string"] = "Making Strings\n"
h1[id="put_on_string"] = "Puting On New Strings\n"
= image_tag("untwist_string.png", style: 'height:700px;width:auto;', alt: "Untwist String")
= image_tag("fingers_in_string.png", style: 'height:700px;width:auto;', alt: "Fingers in String")
= image_tag("string_around_yoyo.png", style: 'height:700px;width:auto;', alt: "String Around YoYo")
h1[id="change_bearing"] = "Changing The Bearing\n"
.table-of-contents
  p.content Things you need
  p.content • YoYo
  p.content • Bearing
  p.content • Plires
  p.content • Paper Towel or Napkin
p Put a paper towel or napkin under the yoyo
p To take off the bearing
p Unscrew the yoyo.
p pull the string off the yoyo.
p Firmly put the plires on the bearing, and hold the yoyo with your other hand.
= image_tag("plires_setup.png", style: 'height:700px;width:auto;', alt: "Plires Setup")
p Pop the bearing off.
= image_tag("pop_bearing.png", style: 'height:700px;width:auto;', alt: "Pop Bearing")
p Puting on the new bearing
p Place bearing on the half of the yoyo without the screw.
p Push down until it clicks
= image_tag("push_bearing_on.png", style: 'height:700px;width:auto;', alt: "Push Bearing on")
p Screw the yoyo together unless you are going to lube it.
h1[id="lubing"] Lubing
.table-of-contents
  p.content Things you need
  p.content • YoYo
  p.content • toothpick
  p.content • Paper Towel or Napkin
  p.content • Bottle of Lube (responsive or unresponsive)
p There are two types of lube responsive and unresponsive
p Resopnsive lube is for when you the yoyo to come back to your hand with the slightest jerk.
p Unresponsive lube is for doing tricks with slack in the string.
p It also is used by more experenced people
p When to lube
p If the yoyo makes lots of noise or if it is responsive it won't return to your hand as easy.
p To start lubing
p Put a paper towel or napkin under the yoyo
p Unscrew the yoyo.
p pull the string off the yoyo.
p Use the toothpick to get a drop of lube
= image_tag("lube_on_pick.png", style: 'height:700px;width:auto;', alt: "Lube on Pick")
p use the tooth pick to drop the drop in the bearing
= image_tag("put_in_bearing.png", style: 'height:700px;width:auto;', alt: "Put in Bearing")
p put several drops of lube repeating these steps.
p screw the yoyo together and wait four minutes
